body{
	  margin: 0;
	  padding:0;
	  background-image:url(na1.jpg);
	background-size:cover;
	 background-repeat: no-repeat;
	  background-position:center;
}
*{
		  font-family:serif;  
	  font-variant:small-caps;
}
  .loginbox{
	  width:300px;
	  height:800px;
	  background: 7accff;
	  color:#fff;
	  top:65vh;
	  left:50%;
	  position:relative;
	  transform: translate(-50%,-50%);
	  box-sizing:border-box;
	  padding: 70px 30px;
  }
  .avatar{
	  width:100px;
	  height:100px;
	  border-radius:50%;
	  position:absolute;
	  top:-50px;
	  left:35%;	
  }
  h1{
	  margin:0;
	  padding:0 0 20px;
	  text-align:center;
	  font-size:22px;
	  color:black;
  }
  p{
	  margin:0;
	  padding:0 0 20px;
	  
	  font-size:22px;
	  color:black;
	  
  }
  .loginbox p{
	  margin:0;
	  padding:0;
	  font-weight:bold;
  }
  .loginbox input{
	  width:265px;
	  margin-bottom:20px;
  }
  .loginbox input[type="text"],input[type="password"],input[type="Number"],input[type="Email"]
  {
	  border:none;
	  border-bottom:3px solid #fff;
	  background: transparent;
	  outline:none;
	  height:40px;
	  color: #f02f2f;
	  font-size:16px;
  }

  .loginbox input[type="submit"],input[type="reset"]
  {
	  border:none;
	  outline:none;
	  background:#FB2525;
	  color:#fff;
	  font-size:18px;
	  border-radius:20px;
  }
  .loginbox input[type="submit"]:hover
  {
	  cursor:pointer;
	  background:#4dffe4;
	  color:#000;
  }
  .loginbox input[type="reset"]:hover
  {
	  cursor:pointer;
	  background:#00ff94;
	  color:#000;
  }
  .loginbox a{
	  text-decoration:none;
	  font-size:12px;
	  line-height:20px;
	  color:#4dffff;
  }
  .loginbox a:hover
  {
	color:#ff7ab5;
	
  }
  button{
  	background-color: transparent;
  	border: none;
  	color: white;
  }